html{
    font-size: 10px;
}
head{
    font-size: 18px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
ul {   
    text-align: justify;
    line-height: 1.5;
    padding: 20px;
}

li {
    line-height: 2;
    font-family: 'Raleway', sans-serif;
}


#image {
    width: 100%;
    height: auto;
    max-width: 425px;
    display: block; 
    border-radius: 25px;  
}

blockquote{
    font-size: 12px;
}
p{
    font-size: 18px;
    line-height: 1.5;
}
h4{
    font-size: 12px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
a{
    color: blue;
    font-size: 15px;
    text-align: justify;
    list-style: none;
    text-decoration: none;
}
a:visited{
    color:rgb(0, 201, 90);
    
}


#img-div {
  background: rgb(249, 249, 249);
  padding:10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 80%;
}

h1{
    font-family: 'Caveat', cursive;
    background-color: rgb(189, 189, 189);
    margin: auto 420px auto 420px;
    border-radius: 25px;
}

#title{
    font-size: 5vw;
    padding: 10px;
    margin-top: 5vh;
}
#tribute-info{
    background-color: rgb(88, 88, 88);
    margin: auto 320px auto 320px;
    color:whitesmoke;
    border-color: rgb(219, 219, 219);
    border-radius: 5px;
    font-size: 14px;
    padding:20px
}